version: 2

updates:
  - package-ecosystem: composer
    directory: /
    schedule:
      interval: weekly
    groups:
      illuminate:
        patterns:
          - "illuminate/*"

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
